<!DOCTYPE html>
{% load static %}
<html>
    <head>
		<meta name"viewport" content="width=device-width, initial-scale=1>">
        <title> raporcik </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">    
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <style>
	* {
        box-sizing: border-box;	
	}
	</style>
    
        
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
			    <p class="top-menu"><small>({{ user.username }})   <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span></a></small></p>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-briefcase"></span></a>
				<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
 
                
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Django Blog</a></h1>
        </div>
        
        <div class="content container">
            <div class="row">
              
                {% block content %}
                {% endblock %}                

            </div>
        </div>
    </body>
</html>

